*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #151515;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 0 3em;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #acff91;
  font-size: 4rem;
}

h2::after {
  content: '';
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 40px;
  background-color: #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
}

.nav__title {
  font-size: 3rem;
  font-weight: 700;
  color: #acff91;
}

.nav__title--special {
  color: #fff;
  font-weight: 100;
}

.nav__items {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.nav__mobile--active {
  max-height: 100vh;
}

.nav__item {
  list-style: none;
  font-size: 1.6rem;
  margin: 2em 0em;
  text-align: center;
}

.nav__link {
  padding: 0.6em 1.5em;
  font-size: 2rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav__link:hover {
  color: #acff91;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 15rem 0;
  min-height: 50vh;
}

.header__text {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.header__heading--highlighted {
  color: #acff91;
}

.header__subheading {
  color: #b7b6b2;
  line-height: 160%;
  font-weight: 100;
}

.header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  margin-bottom: 50px;
}

.header__photo {
  border-radius: 50%;
  border: 6px solid #acff91;
  height: 280px;
  width: 280px;
}

.header__link {
  padding: 0.6em 1.5em;
  font-size: 2.4rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  background-color: #acff91;
  color: #141414;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header__link--contact {
  border-radius: 30px;
  -webkit-transition: background-color 0.5s, color 0.5s, border 0.3s;
  transition: background-color 0.5s, color 0.5s, border 0.3s;
}

.header__link--contact:hover {
  border: 2px solid #acff91;
  color: #fff;
  background-color: #141414;
}

.about__container {
  max-width: 620px;
}

.about__text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  margin: 2em 0;
}

@media (min-width: 768px) {
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__brand {
    display: block;
    margin: 0;
  }
  .nav__brand .hamburger {
    display: none;
  }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 100vh;
  }
  .nav__item {
    padding: 1em 0em;
    font-size: 1.5rem;
    display: inline-block;
  }
  .nav__title {
    font-size: 4rem;
  }
  .header__text {
    max-width: 624px;
  }
  .header__heading {
    font-size: 4rem;
    font-weight: 700;
  }
  .header__subheading {
    font-size: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .nav__item {
    font-size: 1.6rem;
  }
  .nav__title {
    font-size: 4rem;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 3em;
  }
  .header__photo {
    width: 400px;
    height: 400px;
  }
}
/*# sourceMappingURL=style.css.map */