*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #151515;
	color: #fff;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	padding: 0 3em;
}

a {
	color: #fff;
	text-decoration: none;
}

h2 {
	display: flex;
	position: relative;
	align-items: center;
	font-weight: 700;
	color: #acff91;
	font-size: 4rem;
}

h2::after {
	content: '';
	display: block;
	position: relative;
	width: 300px;
	height: 1px;
	margin-left: 40px;
	background-color: #fff;
}

.nav {
	display: flex;
	flex-direction: column;

	&__brand {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 2em 0;
	}

	&__title {
		font-size: 3rem;
		font-weight: 700;
		color: #acff91;

		&--special {
			color: #fff;
			font-weight: 100;
		}
	}

	&__items {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	&__mobile--active {
		max-height: 100vh;
	}

	&__item {
		list-style: none;
		font-size: 1.6rem;
		margin: 2em 0em;
		text-align: center;
	}

	&__link {
		padding: 0.6em 1.5em;
		font-size: 2rem;
		transition: color 0.5s;

		&:hover {
			color: #acff91;
		}
	}
}

.header {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding: 15rem 0;
	min-height: 50vh;

	&__text {
		font-size: 2.5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
	}

	&__heading {
		&--highlighted {
			color: #acff91;
		}
	}

	&__subheading {
		color: #b7b6b2;
		line-height: 160%;
		font-weight: 100;
	}

	&__image {
		display: flex;
		justify-content: center;
		border-radius: 100%;
		margin-bottom: 50px;
	}

	&__photo {
		border-radius: 50%;
		border: 6px solid #acff91;
		height: 280px;
		width: 280px;
	}

	&__link {
		padding: 0.6em 1.5em;
		font-size: 2.4rem;
		transition: color 0.5s;
		background-color: #acff91;
		color: #141414;
		transform: translateY(10px);

		&--contact {
			border-radius: 30px;
			transition: background-color 0.5s, color 0.5s, border 0.3s;

			&:hover {
				border: 2px solid #acff91;
				color: #fff;
				background-color: #141414;
			}
		}
	}
}

.about {
	&__container {
		max-width: 620px;
	}

	&__text {
		font-size: 2rem;
		font-weight: 400;
		line-height: 150%;
		margin: 2em 0;
	}
}

@media (min-width: 768px) {
	.nav {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;

		&__brand {
			display: block;
			margin: 0;

			.hamburger {
				display: none;
			}
		}

		&__items {
			display: flex;
			justify-content: space-between;
			max-height: 100vh;
		}

		&__item {
			padding: 1em 0em;
			font-size: 1.5rem;
			display: inline-block;
		}

		&__title {
			font-size: 4rem;
		}
	}

	.header {
		&__text {
			max-width: 624px;
		}

		&__heading {
			font-size: 4rem;
			font-weight: 700;
		}

		&__subheading {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__item {
			font-size: 1.6rem;
		}

		&__title {
			font-size: 4rem;
		}
	}

	.header {
		.container {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		&__image {
			display: flex;
			justify-content: flex-end;
			order: 1;
			padding: 0 3em;
		}

		&__photo {
			width: 400px;
			height: 400px;
		}
	}
}
